.header{
    height: 30px;
    display: inline-block;
    position: fixed;
}
.bar{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    margin-top: 5px;
}
.YOUICON{
    display: flex;
}
.bardiv{
    width: 50px;
    display: inline-block;
}
.iconyoutubediv{
    width: 100px;
    display: inline-block;
}
.searchbar{
    display: flex;
    width: 530px;
    margin-left: 309px;
    margin-bottom: 9px;
    height: 35px;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    border: solid;
    border-width: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(204, 202, 202);
}
.barsearch{
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    margin-top: none;
}
.glass{
    display: inline-block;
    width: 60px;
    border: solid;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    border-width: 1px;
    border-color: rgb(204, 202, 202);
    height: 37px;
    margin: none;
}
.glass2{
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    height: 35;
    margin-top: 9px;
    margin-left: 15px;
}
.voice{
    display: inline-block;
    height: 35px;
    width: 50px;
    vertical-align: top;
    justify-content: center;
    align-items: center;
}
.voice2{
    width: 19px;
    margin-top: 9px;
    margin-left: 18px;
    cursor: pointer;
}
.create1{
    display: inline-block;
    
}
.create2{
    width: 29px;
    height: 30px;
    margin-left: 280px;
    margin-bottom: 5px;
    cursor: pointer;
}
.noti1{
    display: inline-block;
}
.noti2{
    width: 29px;
    height: 30px;
    margin-left: 24px;
    margin-bottom: 4px;
    cursor: pointer;
}
.me{
    display: inline-block;
}
.me2{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    margin-left: 11px;
    border-radius: 50%;
}
.button1{
    width: 90px;
}
.home1{
    display: inline-block;
    width: 23px;
    margin-top: 10px;
}
.para{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 18px;
    font-size: 14px;
    margin-bottom: 15px;
    vertical-align: top;
}
.sidebar1{
    border: none;
    width: 210px;
    margin-left: 14px;
    margin-top: 9px;
    border-radius: 25px;
    background-color: rgb(247, 242, 242);
}
.shorts1{
    display: inline-block;
    width: 30px;
    margin-top: 2px;
    
}
.para2{
    display: inline-block;
    margin-top: 8px;
    margin-left: 9px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.para3{
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.para4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}
.para5{
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.para6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: gray;
}
.sidebar0{
    border: none;
    width: 210px;
    margin-left: 14px;
    margin-top: 9px;
    border-radius: 25px;
}
.sub1{
    display: inline-block;
    width: 30px;
    margin-top: 2px;
}
.sidebar{
    position: fixed;
    overflow-y: scroll;
    width: 250px;
    top: 0;
    bottom: 0;
    margin-top: 65px;
}
.channel1{
    display: inline-block;
    margin-top: 2px;
}
.subsICON{
   border-radius: 15px;
}
.premium{
    width: 35px;
    height: 25px;
    margin-top: 9px;
}
.studio{
    width: 35px;
    height: 35px;

}
.musicyou{
    width: 25px;
    height: 25px;
    margin-left: 6px;
}
.kidsyou{
    width: 25px;
    height: 25px;
    margin-left: 6px;
}
.buttons{
    width: 90%;
    margin-left: 260px;
}
.All{
    width: 40px;
    margin-top: 12px;
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    display: inline-block;
    cursor: pointer;
}
.All2{
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.All2:hover{
    background-color: rgb(219, 215, 215);
}
.Mixes{
    display: inline-block;
    margin-left: 9px;
}
.container{
    display: inline-block;
    margin-top: 9px;
    margin-left: 270px;
    width: 300px;
    height: 260px;
}
.container2{
    display: inline-block;
    margin-top: 9px;
    margin-left: 20px;
    width: 300px;
    height: 260px;
}
.container3{
    display: inline-block;
    margin-top: 9px;
    margin-left: 20px;
    width: 300px;
    height: 260px;
    vertical-align: top;

}
.thumbnail{
    border-radius: 10px;
}
.thumbicon{
    display: inline-block;
    border-radius: 50%;
    width: 38px;
    margin-top: 6px;
}
.title{
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;  
    
}
.title2{
    display: inline-block;
    color: gray;
    margin: 0;
    margin-left: 44px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
.title3{
    margin: 0;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
}
.title4{
    margin: 0;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
}



